.prnt {
    left: 0%;
    transform: translateX(0%);
    margin: 50px;
}
#btbar {
    width: fit-content;
}
.bdir {
    width: 100px;
    height: 100px;
}
#btbar {
    width: 750px;
}
#gover {
    width: 1000px;
}
#ct {
    text-align: center;
}