.prnt {
    left: 0%;
    transform: translateX(0%);
    margin: 50px;
}
#btbar {
    width: fit-content;
}
.bdir {
    width: 100px;
    height: 100px;
}
#btbar {
    width: 500px;
    background-color: purple;
    position: absolute;
    left: 50%;
}
#gover {
    width: 1000px;
    background-color: red;
    display: block;
}
