@font-face {
  font-family: rbcon;
  src: url(Fonts/Roboto.ttf);
}
.prnt {
  display: inline-grid;
  gap: 0px 0px;
  position: relative;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.proto {
  width: 50px;
  height: 50px;
  display: none;
  background-image: url(Images/walk.png);
  background-size: cover;
  background-color: gray;
  background-repeat: no-repeat;
  margin: 0px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
}
body{
 background-color: #27272D;
}
.steve, .zombie, .skeleton{
  width: 90%;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 1px;
}


#proto_steve{
  display: none;
}
#btbar{
  text-align: center;
  position: relative;
  width:fit-content;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  padding: 10px;
}
.bdir{
  width: 200px;
  height: 200px;
  border-radius: 30px;
  background-size: cover;
  display: inline-block;
  margin: 10px;
  touch-action: manipulation;
}
#up{
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0px;
}
.diamond, .epearl{
  width: 90%;
  animation-name: diamond_rote;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  position: relative;
  left: 5%;
  top: 3%;
}
:root {
  --arrow-dis: 0px;
}
.arrow {
  width: auto;
  position: absolute;
  height: 50px;
  z-index: 1;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.skeleton, .steve{
  z-index: 2;
}
#arrow_up, #arrow_down {
  transform: translateX(17px);
  animation-name: shoot_y;
}
#arrow_left, #arrow_right {
  transform: translateY(17px);
  animation-name: shoot_x;
  width: 50px;
  height: auto;
}
.steve.dsappear{
  animation-name: stdsap;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes stdsap{
  100%{
    opacity: 0;
  }
}
@keyframes shoot_y{
  100%{
    transform: translate(17px, var(--arrow-dis));
  }
}
@keyframes shoot_x{
  100%{
    transform: translate(var(--arrow-dis), 17px);
  }
}
@keyframes diamond_rote{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}
#state{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120%;
  font-style: oblique;
  font-weight: bold;
  animation-name: appear;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#state.win{
  color: gold;
}
#state.lose{
  color: white;
}
@keyframes appear{
  0%{
    font-size: 0px;
  }
  100%{
    font-size: 80px;
  }
}
#gover {
  display: none;
  color: white;
}
#rst {
  font-size: 35px;
  position: absolute;
  top: 55%;
  left: 50%;
  display: none;
  transform: translateX(-50%);
  animation-name: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.1;
  }
}
hr {
  visibility: hidden;
  width: 100%;
}
#ifcon{
  text-align: center;
  display: none;
  position: relative;
  top: 100px;
  background-color: darkslateblue;
  border-style: solid;
  border-radius: 25px;
  border-width: 15px;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
}
p{
  font-size: 50px;
  color: white;
  font-family: rbcon;
}
.zombie, .skeleton{
   width: 100%; 
}
.proto.start {
    animation-name: wall_appear;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes wall_appear {
    0% {
        background-image: url(Images/walk.png);
    }
    100% {
        background-image: url(Images/wall.png);
    }
}

