.prnt {
  display: inline-grid;
  gap: 0px 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.proto {
  width: 30px;
  height: 30px;
  display: none;
  background-image: url(Images/walk.png);
  background-size: cover;
  margin: 0px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  
}
body{
 background-color: #27272D;
}
.steve{
  width: 90%;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#proto_steve{
  display: none;
}
#btbar{
  background-color: red;
  text-align: center;
  position: relative;
  width:fit-content;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  background-color: darkslategray;
}
.bdir{
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background-size: cover;
  display: inline-block;
  margin: 10px;
}
#up{
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0px;
}
.diamond {
  width: 90%;
  animation-name: diamond_rote;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  position: relative;
  left: 5%;
  top: 3%;
}
@keyframes diamond_rote{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}
#win{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-style: oblique;
  animation-name: appear;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes appear{
  0%{
    font-size: 0px;
  }
  100%{
    font-size: 80px;
  }
}
#gover {
  display: none;
  color: white;
  
}
#rst {
  font-size: 35px;
  position: absolute;
  top: 55%;
  left: 50%;
  display: none;
  transform: translateX(-50%);
  animation-name: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.1;
  }
}
hr {
    width: 100%;
    visibility: hidden;
}